<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/page2.css"> <!-- Normal styles -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="urbanist-header">Debugger</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1 class="urbanist-header">
                <a href="/" class="urbanist-header">Debugger</a>
            </h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="/" class="urbanist-header">Home</a></li>
                    <li><a href="/page2" class="urbanist-header">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="about">
        <h1 class="urbanist-header"><u>Developers</u></h1>
    </div>
</body>
</html>
