<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/page2.css"> <!-- Normal styles -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="urbanist-header">Debugger</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1 class="urbanist-header">
                <a href="/" class="urbanist-header">Debugger</a>
            </h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="/" class="urbanist-header">Home</a></li>
                    <li><a href="/page2" class="urbanist-header">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="about">
        <div class="about-content">
            <div class="info-section">
                <div class="info-box">
                    <h2 class="urbanist-header">About Project</h2>
                    <p class="about-paragraph"> 
                        Code Visualizer is a tool that allows users to upload code and receive visual representations of how each line executes. 
                        By breaking down the code into individual steps, it captures the state of the program at each point in execution, helping users to understand
                        the flow of logic, variable changes, and overall behavior of the code. This tool is especially useful for debugging, learning, and teaching 
                        programming concepts, as it transforms abstract code into a more concrete and understandable format.
                    </p>
                </div>
                <div class="info-box">
                    <h2 class="urbanist-header">Video</h2>
                    <p class="about-paragraph">
                        (Video Goes Here)
                    </p>
                </div>
                <div class="info-box">
                    <h2 class="urbanist-header">Developers</h2>
                    <ul class="about-paragraph">
                        <li>Aryan Sahai</li>
                        <li>Mila Kuang</li>
                        <li>Victor Hsiao</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
