<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/page2.css"> <!-- Normal styles -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="urbanist-header">Debugger</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1 class="urbanist-header">
                <a href="/" class="urbanist-header">Debugger</a>
            </h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="/" class="urbanist-header">Home</a></li>
                    <li><a href="/page2" class="urbanist-header">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="about">
        <h1 class="urbanist-header"><u>About Project</u></h1>
        <p>Code Visualizer is a tool that allows users to upload code and receive visual representations of how each line executes. 
            By breaking down the code into individual steps, it captures the state of the program at each point in execution, helping users to understand
            the flow of logic, variable changes, and overall behavior of the code. This tool is especially useful for debugging, learning, and teaching 
            programming concepts, as it transforms abstract code into a more concrete and understandable format.
        </p>
        <h1 class="urbanist-header"><u>Video</u></h1>
        <p>(Video Goes Here)</p>
        <h1 class="urbanist-header"><u>Developers</u></h1>
        <ul>
            <li>Aryan Sahai</li>
            <li>Mila Kuang</li>
            <li>Victor Hsiao</li>
        </ul>
    </div>
</body>
</html>
